*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  .react-tabs__tab {
    display: inline-block;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
  }
  
  .react-tabs__tab--selected {
    background: #fff;
    border-bottom: 4px solid  #0ABB87;
    color: black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
    width: 275px;
    padding-top: 43.5px;
  }